extends layout

block content

  //- bg img
  //-img(class="background_img", src="/images/background1.jpg")

  //- content header
  div.content_header

    //- title
    h1.title=event.name     

    //- action menu
    div.action_menu
      ul
        li 
          a(id="action_download", href="/events/#{event._id}/download") Download
        li 
          a(id="action_slideshow", href="#slideshow") Slideshow

  //- event details
  div.event
    //-span.title= 
    span.desc= event.desc
    span.dates #{event.start.getFullYear()}.#{event.start.getMonth()}.#{event.start.getDate()} ~ #{event.end.getFullYear()}.#{event.end.getMonth()}.#{event.end.getDate()}
    span.tag &#35;#{event.tag}    

  div.overlay
    //- slideshow layer
    //-div.slideshow

    //- media details popup
    div.media_popup
      img
      div.media_details
        div.overlay_close X

  //- event media
  div.media
  div.end_of_media

block scripts
  script(type='text/javascript', src='/javascripts/libs/jquery.inview.min.js')
  script(type='text/javascript', src='/javascripts/libs/jquery.viewport.mini.js')
  script(type='text/javascript', src='/javascripts/album.js')
  script.
    initAlbum("#{event._id}");