extends layout

block content

  //- bg img
  img(class="background_img", src="/images/backgrounds/Blur-01.jpg")

  //- content header
  div.content_header

    //- title
    h1.title.fade1=event.name     

    //- action menu
    div.action_menu.fade2
      ul
        li 
          a(id="action_download", href="/events/#{event._id}/download") Download
        li 
          a(id="action_slideshow", href="#slideshow") Slideshow

  //- event details
  div.event.fade1
    //-span.title= 
    span.desc= event.desc
    span.dates #{event.start.getFullYear()}.#{event.start.getMonth() + 1}.#{event.start.getDate()} ~ #{event.end.getFullYear()}.#{event.end.getMonth() + 1}.#{event.end.getDate()}
    span.tag &#35;#{event.tag}    

  div.overlay
    //- media details popup
    div(id="media_swipe_wrapper", class="media_popup")
      span
        div.media_img_container
          img
          div.action_next_prev_img
            a(id="action_prev_img", href="#prev_img") Prev
            a(id="action_next_img", href="#next_img") Next
        div.overlay_close
        div.media_details        

  //- event media
  div.media
  div.end_of_media

  //- back to top
  a(id="action_scrolltop", href="#top") Top 

block scripts
  //- FB tags
  meta(property="og:title" content="#{event.name}")
  meta(property="og:image" content="http://www.capsulati.com/images/logo_fb.png")

  link(rel='stylesheet', href='/stylesheets/animate.min.css')
  script(type='text/javascript', src='/javascripts/libs/jquery.inview.min.js')
  script(type='text/javascript', src='/javascripts/libs/jquery.viewport.mini.js')
  script(type='text/javascript', src='/javascripts/libs/moment.min.js')
  script(type='text/javascript', src='/javascripts/libs/swipeview.js')
  script(type='text/javascript', src='/javascripts/album.js')
  script.
    initAlbum("#{event._id}", 1000, 6000);