extends layout

block content

  //- bg img
  //-img(class="background_img", src="/images/background1.jpg")

  //- content header
  div.content_header

    //- title
    h1.title.fade1=event.name     

    //- action menu
    div.action_menu.fade2
      ul
        li 
          a(id="action_download", href="/events/#{event._id}/download") Download
        li 
          a(id="action_slideshow", href="#slideshow") Slideshow

  //- event details
  div.event.fade1
    //-span.title= 
    span.desc= event.desc
    span.dates #{event.start.getFullYear()}.#{event.start.getMonth()}.#{event.start.getDate()} ~ #{event.end.getFullYear()}.#{event.end.getMonth()}.#{event.end.getDate()}
    span.tag &#35;#{event.tag}    

  div.overlay
    //- media details popup
    div.media_popup
      div.media_img_container
        img
      div.overlay_close
      div.media_details
        

  //- event media
  div.media
  div.end_of_media

  //- back to top
  a(id="action_scrolltop", href="#top") Top

block scripts
  script(type='text/javascript', src='/javascripts/libs/jquery.inview.min.js')
  script(type='text/javascript', src='/javascripts/libs/jquery.viewport.mini.js')
  script(type='text/javascript', src='/javascripts/album.js')
  script.
    initAlbum("#{event._id}");