extends ../layout

block content

  //- bg img
  img(class="background_img", src="/images/background1.jpg")


  //- content header
  div.content_header

    //- title
    h1.title=event.name     

    //- action menu
    div.action_menu
      ul
        li 
          a(href="#{event._id}/download") Download
        li 
          a(href="#slideshow") Slideshow

  //- event details
  div.event
    //-span.title= 
    span.desc= event.desc
    span.dates #{event.start.getFullYear()}.#{event.start.getMonth()}.#{event.start.getDate()} ~ #{event.end.getFullYear()}.#{event.end.getMonth()}.#{event.end.getDate()}
    span.tag &#35;#{event.tag}    

  //- event media
  div.media
    //- if media.length > 0
    //-   each medium in media
    //-     img(src="#{medium.images.thumbnail.url}", rel="#{medium.images.standard_resolution.url}")
    //- else
    //-   div no images at this time

block scripts
  //- layout
  script.
    var eventId = "#{event._id}";
    var lastId = "";
    var cachedList = [];
    var set = false;

    function refresh(data) {
      var $medialist = $(".media");

      cachedList = $.extend(cachedList, data);
      var length = data.length; 

      // renders on UI if nothing on screen
     /* if($medialist.children().length < 1) 
      {*/

        for (var i = 0; i < length; i++) {
          $(".media").prepend("<img class='fade" + (i % 3) + "' src='" + data[i].images.thumbnail.url + "' rel='" + data[i].images.standard_resolution.url + "'/>");        
        }        
      //}

      // update last id
      lastId = cachedList[length - 1].id;
      /*if(!set) {
        $(".background_img").attr("src", data[length-1].images.standard_resolution.url);      
        set=true;
      }*/
    }

    function poll() {
      $.ajax({
        type: 'GET',
        dataType: 'json',
        url: '/api/events/' + eventId + '/media?from=' + lastId,
        success: function (data) {
          console.log(data);
          // if there's data, refresh grid
          if(data.length > 0) refresh(data);
        },
        complete: pollAgain
      });
    }

    function pollAgain() {
      setTimeout(function () {
        poll();
      }, 1000);
    };

    $(document).ready(function() {
      poll();
    });

    function getScroll () {
      var b = document.body;
      var e = document.documentElement;
      return {
        left: parseFloat( window.pageXOffset || b.scrollLeft || e.scrollLeft ),
        top: parseFloat( window.pageYOffset || b.scrollTop || e.scrollTop )
      };
    }

    $(document).ready(function() {
      var myHeader = $('header');
      var myContentHeader = $('.content_header');

      myHeader.data( 'position', myHeader.position() );
      myContentHeader.data( 'position', myContentHeader.position() );

      $(window).scroll(function(){
        /*var hPos = myHeader.data('position'), scroll = getScroll();
        if ( hPos.top < scroll.top ) {
          myHeader.addClass('fixed');
        }
        else {
          myHeader.removeClass('fixed');
        }*/

        hPos = myContentHeader.data('position'), scroll = getScroll();
        if ( hPos.top < scroll.top ) {
          myContentHeader.addClass('fixed');
        }
        else {
          myContentHeader.removeClass('fixed');
          myContentHeader.blurjs({
            source: '#main_content',
            radius: 10,
            overlay: 'rgba(255,255,255,0.4)'
          });
        }
      });
    });
