extends ../layout

block content

  //- bg img
  img(class="background_img", src="/images/background1.jpg")


  //- content header
  div.content_header

    //- title
    h1.title=event.name     

    //- action menu
    div.action_menu
      ul
        li 
          a(href="#{event._id}/download") Download
        li 
          a(href="#slideshow") Slideshow

  //- event details
  div.event
    //-span.title= 
    span.desc= event.desc
    span.dates #{event.start.getFullYear()}.#{event.start.getMonth()}.#{event.start.getDate()} ~ #{event.end.getFullYear()}.#{event.end.getMonth()}.#{event.end.getDate()}
    span.tag &#35;#{event.tag}    

  //- event media
  div.media
    //- if media.length > 0
    //-   each medium in media
    //-     img(src="#{medium.images.thumbnail.url}", rel="#{medium.images.standard_resolution.url}")
    //- else
    //-   div no images at this time

block scripts
  //- layout
  script.

