extends ../layout

block scripts
  script(type="text/javascript", src="/javascripts/event_admin.js")

block content

  form(method="post", action="/events/#{event._id}/media")
    input(type="hidden", name="_method", value="delete")
    input(type="hidden", name="items")

    //- content header
    div.content_header

      //- title
      h1.title=event.name     

      //- action menu
      div.action_menu
        ul
          li(class="remove hidden")
            a(href="javascript:void(0);") Remove
          li(class="download")
            a(href="#{event._id}/download") Download

    //- event details
    div.event
      //-span.title= d
      span.desc= event.desc
      span.dates #{event.start.getFullYear()}.#{event.start.getMonth()}.#{event.start.getDate()} ~ #{event.end.getFullYear()}.#{event.end.getMonth()}.#{event.end.getDate()}
      span.tag &#35;#{event.tag}    

    //- event media
    div.media
      if media.length > 0
        each medium in media
          img.item(src="#{medium.images.thumbnail.url}", id="#{medium.id}")
      else
        div no images at this time