extends ../layout

block content

  //- title
  h1 events

  //- add
  p
    a(href="/events/add") add

  //- list of events
  ul.events
    each event in events
      li
        div.event
          a(href='/events/#{event._id}')
            span.title= event.name
          span.desc= event.desc
          span.dates #{event.niceStart} ~ #{event.niceEnd}
          span.tag &#35;#{event.tag}
          span 
            a.download(href="/events/#{event._id}/download") download
          span 
            a.share(href="/events/#{event._id}/share") share
          form(method="POST", action="/events")
            input(type="hidden", name="_method", value="delete")
            input(type="hidden", name="_id", value="#{event._id}")
            input(type="submit", value="delete")